body {
  background: rgb(225, 254, 182);
}


#Tododeco {
  width: 70%;
  margin: 100px auto;
  text-align: center;
}

#input {
  font-size: 24px;
  margin: 24px;
}

#AddTask,
#DeleteTask {
  width: 150px;
  height: 50px;
  border-radius: 18px;
  font-weight: bold;
  background-color: orange;
  margin: 18px;
}

#remainTask {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}


#buttons {
  text-align: center;
}

#TodoList {
  font-size: 20px;
  width: 250px;
  margin: 0 auto;
  text-align: left;
}

#title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 42px;
}